// Colors
$clean: #ffffff;
$clean-5: rgba(255, 255, 255, 0.05);
$text40: #a2cbfb;
$primary80: #3b48d0;
$primary100: #0a1482;
$bg: #0c102d;
$error: #fd4646;
$border: #636363;

$gradient: linear-gradient(
  152.14deg,
  rgba(21, 191, 253, 0.7) 9.96%,
  rgba(156, 55, 253, 0.7) 100%
);
$linear2: linear-gradient(180deg, #1ff2ff 0%, #27f9e5 52.66%, #2fffcd 100%);
$linear3: linear-gradient(
  90deg,
  rgba(21, 191, 253, 0) 8.03%,
  rgba(21, 191, 253, 0.7) 69.15%,
  rgba(156, 55, 253, 0.7) 97.95%
);
